<div>
  <b-container class="mb-3">
    <b-row >
      <b-button @click="showBadge=!showBadge" style="background-color: Transparent; border: none; cursor:pointer; overflow: none; outline:none">
        <img v-if="showBadge"
             src="../../assets/badge1.png"
             alt="">
      </b-button>
    </b-row>

    <b-row class="mt-2 mb-1" style="height: 20px">
      <b-col md="2">

        <span>
          <router-link to="/stations"
                       active-class='active'
                       class='ml-0' >
            <a>Stacje</a>
          </router-link>

          <router-link to="/about"
                       active-class='active'
                       class='ml-4'>
            <a>Pomoc</a>
          </router-link>


        </span>


      </b-col>

      <b-col md="2">
        <span data-test='spinner'
              v-show="loading"
              md="1"
              class="ml-5">
          <img src="../../assets/spinner5.gif" />
        </span>

      </b-col>

      <b-col>
        <span class="documents ml-0">&nbsp&nbsp( {{ documents }} )</span>
        <span class="stations ml-0">&nbsp&nbsp{{ stations }}</span>
      </b-col>

    </b-row>
  </b-container>
</div>
