<div>
  <b-container>

    <b-row class='my-3'>
      <b-col>
        <router-link to="/" active-class='active'><a>Home</a></router-link>
        <h4>Instrukcja obsługi</h4>
      </b-col>
    </b-row>

    <b-row class='my-3'>
      <b-col>
        <h5>1. Do czego służy ta aplikacja? </h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspAplikacja pozwala przejrzeć program telewizyjny
           na najbliższy tydzień w podziale na przedział godzin, stacje TV<br>
           &nbsp&nbsp&nbsp&nbspi kategorie (grupy tematyczne).Ponadto, można wybrać te które chce się obejrzeć
           i wysłać do siebie emaila z ich listą</p>

        <h5>2. Od czego zacząć ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspWybierz przedział godzin i/lub kategorie i/lub stacje TV
           i wciśnij przycisk Search. Po kilku sekundach, otrzymasz<br>
           &nbsp&nbsp&nbsp&nbsplistę spełniających te kryteria programów</p>

        <h5>3. Jak posortować listę ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspWciskając nagłówek kolumny id, Kanał, Czas (emisji) i Kategoria </p>

        <h5>4. Jak wybrać programy które chcę obejrzeć ? </h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspKlikaj czekboksy odpowiadające tym programom</p>


        <h5>5. Jak wyświetlić samą listę wybranych programów ? </h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspWciskając przycisk 'Show'</p>

        <h5>6. Jak wysłać maila z listą wybranych programów ? </h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWciskając przycisk 'Email'</p>

        <h5>7. Jak skasować listę wybranych programów ? </h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWciskając przycisk 'Res Fav' (Reset Favorites)</p>

        <h5>8. Jak wyczyścić wszystkie pozostałe pola ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWciskając przycisk 'Reset All'</p>

        <h5>9. Czy mogę przyspieszyć wyświetlanie ściąganych programów ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTak, możesz. Zawężając ich zakres, przez
          podanie przedziału godzin i/lub kategorii i/lub stacji TV'</p>

        <h5>10. Czy jest jakiś limit ilości ściąganych programów ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTak, jest to 1,000. Odpowiada to ok
           2 godzinom, przy nie wybraniu żadnego przedziału godzin, kategorii, ani stacji TV</p>

        <h5>11. Czy można przeszukać wszystkie programy przez najbliższy tydzień po jakimś słowie ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTak, w tym celu trzeba je wpisać w pole 'Wpisz szukany tekst'
           i wcisnąć przycisk 'Search'</p>

      </b-col>
    </b-row>

  </b-container>
</div>

