<div>
  <b-container>

    <b-row class='my-3'>
      <b-col>
        <router-link to="/" active-class='active'><a>Home</a></router-link>
        <h4>Instrukcja obsługi</h4>
      </b-col>
    </b-row>

    <b-row class='my-3'>
      <b-col>
        <h5>1. Do czego służy ta aplikacja? </h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aplikacja pozwala przejrzeć program telewizyjny
           na najbliższy tydzień, w podziale na przedział godzin, stacje TV<br>
           &nbsp;&nbsp;&nbsp;&nbsp;i kategorie (grupy tematyczne).
           Ponadto, można wybrać te które chce się obejrzeć i zapamiętać na osobnej liście</p>

        <h5>2. Od czego zacząć ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wybierz przedział godzin i/lub kategorie i/lub stacje TV
           i nagnieć guzik 'Szukaj'. Po kilku sekundach, otrzymasz<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;listę spełniających te kryteria programów</p>

        <h5>3. Jak wybrać stacje TV ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gniotąc linkę 'Stacje' (suprajs, suprajs)</p>

        <h5>4. Jak posortować listę ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wciskając ikonkę ze strzałkami umieszczoną obok nagłówka kolumny' </p>

        <h5>5. Jak dowiedzieć się czegoś więcej o interesującym programie ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gniotąc odpowiadający mu guzik 'Link'</p>

        <h5>6. Jak stworzyć listę wybranych programów ? </h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dwukrotnie klikając w dowolnym miejscu linii z tym programem</p>

        <h5>7. Jak wyświetlić samą listę wybranych programów ? </h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gniotąc guzik 'Pokaż'</p>

        <h5>8. Jak wysłać ją sobie na emaila ? </h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gniotąc guzik 'Email'</p>

        <h5>9. Jak skasować listę wybranych programów ? </h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbspGniotąc guzik 'Kasuj Wyb.'(rane)</p>

        <h5>10. Jak wyczyścić wszystkie pozostałe pola ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gniotąc guzik 'Kasuj Wsz.'(ystkie)</p>

        <h5>11. Czy mogę przyspieszyć wyświetlanie listy ściąganych programów ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tak. Zawężając ich zakres, przez
          wybranie z listy stacji TV (najważniejsze), podanie przedziału godzin i/lub kategorii'</p>

        <h5>12. Czy jest jakiś limit ilości ściąganych programów ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tak, jest to 1,000. Odpowiada to ok
           2 godzinom, przy wszystkich 140 stacjach TV</p>

        <h5>13. Czy można przeszukać wszystkie programy przez najbliższy tydzień po jakimś słowie ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tak, w tym celu trzeba je wpisać w pole 'Wpisz szukany tekst'
          i nagnieść guzik 'Szukaj'. Wcześniej można również okreslić przedział czasowy poszukiwań</p>

          <h5>14. Skąd pochodzi nazwa tej aplikacji i jak ją wymawiać ?</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To dość złożone zagadnienie. Słowo 'tvui' w narzeczu szczypiorów
            skowytnych, zależnie od sezonu monsunowego znaczy:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'rozpacz', 'dramat' lub 'obwarzanek'. Jeśli władasz językiem
            polskim, wymawiaj je jak 'tfuj', jeśli angielskim - jak 'tvooy'.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jeśli żadnym, to po co pytasz ?</p>

      </b-col>
    </b-row>

  </b-container>
</div>

