<div>
  <b-container>

    <b-row class='my-3'>
      <b-col>
        <router-link to="/" active-class='active'><a>Home</a></router-link>
        <h4>Instrukcja obsługi</h4>
      </b-col>
    </b-row>

    <b-row class='my-3'>
      <b-col>
        <h5>1. Do czego służy ta aplikacja? </h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspAplikacja pozwala przejrzeć program telewizyjny
           na najbliższy tydzień, w podziale na przedział godzin, stacje TV<br>
           &nbsp&nbsp&nbsp&nbsp&nbspi kategorie (grupy tematyczne).Ponadto, można wybrać te które chce się obejrzeć
           i wysłać do siebie emaila z ich listą</p>

        <h5>2. Od czego zacząć ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspWybierz przedział godzin i/lub kategorie i/lub stacje TV
           i nagnieć guzik 'Szukaj'. Po kilku sekundach, otrzymasz<br>
           &nbsp&nbsp&nbsp&nbsp&nbsplistę spełniających te kryteria programów</p>

        <h5>3. Jak wybrać stacje TV ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspGniotąc linkę 'Stacje TV' (suprajs, suprajs)</p>

        <h5>4. Jak posortować listę ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspWciskając ikonkę ze strzałkami obok nagłówka kolumny 'Stacja', 'Czas' (emisji) lub 'Kategoria' </p>

        <h5>5. Jak dowiedzieć się czegoś więcej o interesującym programie ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspGniotąc odpowiadający mu guzik 'Link'</p>

        <h5>6. Jak wybrać programy które chcę obejrzeć ? </h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspDwukrotnie klikając w dowolnym miejscu linii z tym programem</p>

        <h5>7. Jak wyświetlić samą listę wybranych programów ? </h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspGniotąc guzik 'Pokaż'</p>

        <h5>8. Jak wysłać maila z listą wybranych programów ? </h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspGniotąc guzik 'Email'</p>

        <h5>9. Jak skasować listę wybranych programów ? </h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspGniotąc guzik 'Kasuj Wyb.'(rane)</p>

        <h5>10. Jak wyczyścić wszystkie pozostałe pola ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspGniotąc guzik 'Kasuj Wsz.'(ystkie)</p>

        <h5>11. Czy mogę przyspieszyć wyświetlanie listy ściąganych programów ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTak. Zawężając ich zakres, przez
          podanie przedziału godzin i/lub kategorii i/lub stacji TV'</p>

        <h5>12. Czy jest jakiś limit ilości ściąganych programów ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTak, jest to 1,000. Odpowiada to ok
           2 godzinom, przy nie wybraniu żadnego przedziału godzin, kategorii, ani stacji TV</p>

        <h5>13. Czy można przeszukać wszystkie programy przez najbliższy tydzień po jakimś słowie ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTak, w tym celu trzeba je wpisać w pole 'Wpisz szukany tekst'
           i nagnieść guzik 'Szukaj'</p>

        <h5>14. Jest gdzieś tu help ?</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA to, to napis na dropsach ?</p>

      </b-col>
    </b-row>

  </b-container>
</div>

