
<div>
  <b-container>
    <b-row>
      <b-col md="8"  class='d-flex justify-content-start'>
        <b-form-checkbox-group data-test="categories"
                               id="categories"
                               v-model="categories"
                               @change="categorySelected"
                               class="d-flex justify-content-md-between pt-2 mr-0"
                               :options="categoriesList">
        </b-form-checkbox-group>
      </b-col>

      <b-col md="4" class='d-flex justify-content-end'>
        <b-button data-test="btnShow"
                  id="btnShow"
                  @click="show"
                  size="md"
                  class="ml-0 pl-2 pr-3">
          Pokaż {{ favoritesCount }}
        </b-button>
        <b-button data-test="btnResetFavorites"
                  id="btnResetFavorites"
                  @click="resetFavorites"
                  size="md"
                  class="ml-2 pl-2 pr-2">
          Kasuj Wyb.
        </b-button>
      </b-col>
    </b-row>
  </b-container>

  <b-modal data-test="modalFirstTime" ref="modalFirstTime" class="d-block" title="Witaj :)" hide-footer>
    <div class="d-block text-center">
      <h5>Program który chcesz zapamiętać, dwukliknij myszą na dowolnym jego polu</h5>
      <br>
      <h5>Listę wybranych programów, można obejrzeć klikając przycisk 'Pokaż'</h5>
      <br>
      <h5>Pojedyńcze programy kasuje się tam ponownym dwuklikiem</h5>
      <br>
      <h5>Skasować wszystkie naraz można wciskając przycisk 'Kasuj Wyb'(rane)</h5>
      <br>
      <h5>Uwaga !</h5>
      <br>
      <h5>Jeśli nie wybierzesz żadnej ze stacji TV (zakładka 'Stacje'),
          wyświetlane będą programy wszystkich, co wydłuży czas oczekiwania</h5>
    </div>

    <b-btn data-test="hideModalFirstTime" class="mt-3" variant="success" block @click="hideModalFirstTime">
      <h5>Zamknij</h5>
    </b-btn>
  </b-modal>

  <b-container>
    <b-row class="mt-4 d-flex justify-content-start">
      <b-col md="2">
        <b-form-select data-test="day"
                       id="day"
                       v-model="day"
                       ref="day"
                       aria-label="day"
                       @change="daySelected"
                       :options="days"
                       class="mb-3 ml-0"
                       size="md">
        </b-form-select>
      </b-col>
      <b-col md="2">
        <b-form-select data-test="startHour"
                       id="startHour"
                       v-model.number="startHour"
                       aria-label="startHour"
                       @change="startHourSelected"
                       class="mb-3 ml-0"
                       :options="startHours">
        </b-form-select>
      </b-col>
      <b-col md="2">
        <b-form-select data-test="endHour"
                       id="endHour"
                       v-model.number="endHour"
                       aria-label="endHour"
                       @change="endHourSelected"
                       :options="endHours">
        </b-form-select>
      </b-col>
      <b-col md="3">
        <b-form-input data-test="textSearch"
                      id="textSearch"
                      v-model="textSearch"
                      aria-label="textSearch"
                      class="mr-2"
                      placeholder="Wpisz szukany tekst">
        </b-form-input>
      </b-col>
    <b-col md="3 d-flex justify-content-end">
      <b-button data-test="btnSearch"
                id="btnSearch"
                ref="btnSearch"
                @click="search"
                size="md"
                class="mb-3 pl-3 pr-4">
        Szukaj
      </b-button>
      <b-button data-test="btnResetAll"
                id="btnResetAll"
                @click="resetAll"
                class="ml-2 mb-3 px-2"
                size="md">
        Kasuj Wsz.
      </b-button>
    </b-col>
    </b-row>
  </b-container>

</div>
