
<div>
  <b-container>
    <b-row>
      <b-col md="9">
        <b-form-checkbox-group data-test="categories"
                               v-model="selectedCategories"
                               @change="categoriesSelected"
                               class="d-flex justify-content-md-between pt-2 mr-0"
                               :options="categories">
        </b-form-checkbox-group>
      </b-col>

      <b-col md="3">
        <b-button id="show"
                  data-test="buttonShow"
                  @click="show"
                  size="md"
                  class="ml-0 pl-2 pr-2">
                  Show&nbsp
        </b-button>

        <b-button id="show"
                data-test="buttonShow"
                @click="show"
                size="md"
                class="ml-2 px-2">
                Reset&nbsp
        </b-button>

        <b-button id="email"
                data-test="buttonEmail"
                @click="email"
                size="md"
                class="ml-2 px-2">
                Mail&nbsp
        </b-button>
      </b-col>

     <!--  <b-col md="1" class="pb-0 mx-0">
        <span v-if="loading"><img src="../../assets/spinner5.gif"/></span>
      </b-col>
-->
    </b-row>

  </b-container>

  <b-container>
    <b-row class="mt-4">

      <b-col md="2">
        <b-form-select id="day"
                       data-test="day"
                       v-model="selectedDay"
                       @change="onChangedSelection"
                       :options="days"
                       class="mb-3 ml-0"
                       size="md" />
      </b-col>

      <b-col md="2">
        <b-form-select id="startHour"
                       data-test="startHour"
                       v-model.number="selectedStartHour"
                       class="mb-3 ml-0"
                       :options="startHours">
        </b-form-select>
      </b-col>

      <b-col md="2">
        <b-form-select id="endHour"
                       data-test="endHour"
                       v-model.number="selectedEndHour"
                       :options="endHours">
        </b-form-select>
      </b-col>

      <b-col md="3">
        <b-form-input id="textSearch"
                      data-test="textSearch"
                      v-model="textSearch"
                      placeholder="Wpisz szukany tekst">
        </b-form-input>
      </b-col>

      <b-button id="search"
                data-test="buttonSearch"
                @click="search"
                size="md"
                class="ml-0 mb-3">
                Search
      </b-button>

      <b-button id="reset"
                data-test="buttonReset"
                @click="reset"
                class="ml-2 mb-3"
                size="md">
                Reset
      </b-button>

      <b-button id="add"
                data-test="buttonAdd"
                @click="add"
                size="md"
                class="ml-2 mb-3">
                Save
      </b-button>

    </b-row>
  </b-container>

</div>
