<div>
    <b-container>
      <b-row>
        <b-col md="9">
          <b-form-checkbox-group data-test="categories"
                                 v-model="selectedCategories"
                                 @change="categoriesSelected"
                                 class='d-flex justify-content-md-between'
                                 :options="categories">
          </b-form-checkbox-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col md="1">
          <span v-if="loading"><img src="../../assets/spinner4.gif"/></span>
        </b-col>
      </b-row>

    </b-container>

    <b-container>
      <b-row class="my-2">

        <b-col md="2">
          <b-form-select id="day"
                         data-test="day"
                         v-model="selectedDay"
                         :options="days"
                         class="mb-3 ml-0"
                         size="md" />
        </b-col>

        <b-modal ref="modalDay" data-test="modalDay" hide-footer>
          <div class="d-block text-center">
            <h4>Brak dnia</h4>
          </div>
          <b-btn class="mt-3" variant="success" block @click="hideModalDay">Zamknij</b-btn>
        </b-modal>

        <b-col md="2">
          <b-form-select id="startHour"
                         data-test="startHour"
                         v-model.number="selectedStartHour"
                         class="mb-3 ml-0"
                         :options="startHours">
          </b-form-select>
        </b-col>

        <b-modal ref="modalStartHour" data-test="modalStartHour" hide-footer>
          <div class="d-block text-center">
            <h4>Brak 'Od godziny'</h4>
          </div>
          <b-btn class="mt-3" variant="success" block @click="hideModalStartHour">Zamknij</b-btn>
        </b-modal>

        <b-col md="2">
          <b-form-select id="endHour"
                        data-test="endHour"
                        v-model.number="selectedEndHour"
                        :options="endHours">
          </b-form-select>
        </b-col>

        <b-col md="3">
          <b-form-input id="textSearch"
                         data-test="textSearch"
                         v-model="textSearch"
                         >
          </b-form-input>
        </b-col>

        <b-modal ref="modalEndHour" data-test="modalEndHour" hide-footer>
          <div class="d-block text-center">
            <h4>Brak 'Do godziny'</h4>
          </div>
          <b-btn class="mt-3" variant="success" block @click="hideModalEndHour">Zamknij</b-btn>
        </b-modal>

        <b-modal ref="modalHoursError" data-test="modalHoursError" hide-footer>
          <div class="d-block text-center">
            <h4>'Godzina końcowa powinna być późniejsza niż początkowa'</h4>
          </div>
          <b-btn class="mt-3" variant="success" block @click="hideModalHoursError">Zamknij</b-btn>
        </b-modal>

          <b-button id="search"
                    data-test="buttonSearch"
                    @click="search"
                    size="md"
                    class="ml-0 mb-3">
                    Search
          </b-button>

          <b-button id="reset"
                    data-test="buttonReset"
                    @click="reset"
                    class="ml-2 mb-3"
                    size="md">
                    Reset
          </b-button>

          <b-button id="save"
                    data-test="buttonSave"
                    @click="save"
                    size="md"
                    class="ml-2 mb-3">
                    Save
          </b-button>

      </b-row>
    </b-container>

</div>
